*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Fixed background image */
.background{
 width:100%;
 height:100vh;
 background-image:url(https://i.ibb.co/fd2LY1V/background.jpg");
 background-size:cover;
 background-position:center;
    background-repeat:no-repeat;
    position:fixed;
    overflow: scroll;
}
/* Position and sizing for <div class="navbar"> List and anchor styling below */
.navbar{
    width: 85%;
    margin: auto;
    padding: 40px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style:none;
    display: inline-block;
    margin: 4px 20px 5px; 
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #070433;
    background-color: white;
    background-blend-mode: soft-light;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    padding: 1px;
}
 /* mouse cursor to display as pointer when hovering over logo */   
.logo{
    width:20vw;
    height:auto;
    cursor: pointer;
}
/* styling for home page. will make sure content in centered using transfor:tranlateY */
.content{
    width: 99.%; 
    top:50%;
    left:50%;
    transform: translateY(50%);
    padding: 60px;
    align-items: center;
    text-align: center;
    color: #070433;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: #070433;
    padding: 10px; 
    
}
/* styling for content on other pages. */
.content-beg {
        width: 99.%; 
    top:50%;
    left:50%;
    padding: 60px;
    align-items: center;
    text-align: center;
    color: #070433;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: #070433;
    padding: 10px; 
}
/* Images will all be 300px wide for consistancy */
figure img {
    width: 300px;
    height: auto;
}

